<a href="https://colab.research.google.com/github/Aleksei115/Aleksei115/blob/main/ObtencionDatos_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
sumar_columnas <- function(matriz){
    ans <- list()
    for i in 1:ncol(matriz){
        suma <- 0
        for j in 1:nrow(matriz){
            suma <- suma + matriz[i][j]
        }
        ans.
    }
}


matriz_ejemplo <- matrix(1:20,4,5)

resultados <- sumar_columnas(matriz_ejemplo)

print(resultados)

[1] 10 26 42 58 74
[1] 10 26 42 58 74

Para leer datos podemos usar la siguiente funcion

In [9]:
datos <- read.table("datos.txt",header = T)
datos

  FamilyNames FamilyAges FamilyGenders FamilyWeights
1 Dad         43         Male          188
2 Mom         42         Female        136
3 Sis         12         Female         83
4 Bro          8         Male           61
5 Dog          5         Female         44

Obtener el tipo de dato de columnas

In [10]:
class(datos$FamilyNames)

[1] "character"

Si quiero cambiar los tipos de las columnas

In [11]:
clases_cols <- c("character","integer","factor","integer")

datos <- read.table("datos.txt",header = T,colClasses = clases_cols)
datos

  FamilyNames FamilyAges FamilyGenders FamilyWeights
1 Dad         43         Male          188
2 Mom         42         Female        136
3 Sis         12         Female         83
4 Bro          8         Male           61
5 Dog          5         Female         44

Agregar una nueva fila, podemos crear un vector con la funcion

```
c()
```

y luego agregamos la nueva fila y sobreescribimos el archivo

In [13]:
nuevos_datos <- c("Cat",2,"Male",10)
datos <- rbind(datos,nuevos_datos)
write.table(datos,file = "datos3.txt",quote=F,row.names = F)